<template>
	<div v-if="newItemForm">
		<div class="wraper row">
			<div class="form-group col-xs-3">
				<label for="itemname" class="labels">Название</label>
				<input v-model="addChildItemData.name" 
				type="text" class="form-control input-sm" id="itemname"
				placeholder="Название">
			</div>
			<div class="form-group col-xs-1">
				<label for="itemname" class="labels">Сорт.</label>
				<input v-model="addChildItemData.order" 
				type="text" class="form-control input-sm" id="itemorder"
				placeholder="Сорт.">
			</div>
			<div class="form-group col-xs-4">
				<label for="itemname" class="labels">Описание</label>
				<input v-model="addChildItemData.description" 
				type="text" class="form-control input-sm" id="description"
				placeholder="Описание">
			</div>
			<div class="form-group col-xs-3">
				<label for="itemname" class="labels">Email отв. менеджера</label>
				<input v-model="addChildItemData.manager_email" 
				type="email" class="form-control input-sm" id="managersemail"
				placeholder="manager@example.com">
			</div>
			<div class="form-group col-xs-2">
				<label for="itemname" class="labels">Part number</label>
				<input v-model="addChildItemData.partnum" 
				type="text" class="form-control input-sm" id="partnumber"
				placeholder="partnumber">
			</div>
			<div class="form-group col-xs-2">
				<label for="itemname" class="labels">Цена розн.</label>
				<input v-model="addChildItemData.price" 
				type="text" class="form-control input-sm" id="price"
				placeholder="Цена">
			</div>
			<div class="form-group col-xs-2">
				<label for="itemname" class="labels">Закуп. стоимость</label>
				<input v-model="addChildItemData.cost" 
				type="text" class="form-control input-sm" id="cost"
				placeholder="Закуп.стоимость">
			</div>
			<div class="form-group col-xs-2">
				<label for="itemname" class="labels">Множитель</label>
				<input v-model="addChildItemData.factor" 
				type="text" class="form-control input-sm" id="factor"
				placeholder="Множитель">
			</div>
			<div class="form-group col-xs-12">
				<button type="button" class="btn btn-primary btn-xs"
					@click="saveNewItem">Save</button>
				<button type="button" class="btn btn-default btn-xs"
					@click="closeMe">Cancel</button>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		name: 'item-addItemForm',
		props: {
			item: Object,
			newItemForm: false
		},
		data: function () {
			return {
				addChildItemData: {
					name: '',
					order: '',
					description: '',
					manager_email: '',
					partnum: '',
					price: '',
					cost: '',
					factor: '',
					itemId: this.item.id
				},
			}
		},
		methods: {
			closeMe: function () {
				this.$emit('shut-me-please')
				this.addChildItemData = {
					'name':'',
					'order':'',
					'description':'',
					'manager_email': '',
					'partnum': '',
					'price': 0,
					'cost': 0,
					'factor': 1,
					'itemId':this.item.id
				}
			},
			saveNewItem: function () {
				if (this.addChildItemData.name) {
					axios.post('/api/saveNewItem', this.addChildItemData)
					.then(response => {
						this.$emit('update-parent')
						this.closeMe()
					})
					.catch(error => console.log(error))
				}
			},
		},
	}
</script>