<template>
	<div class="wraper row">
		<div class="form-group col-xs-3">
			<label for="itemname" class="labels">Название</label>
			<input v-model="editItemData.name" 
			type="text" class="form-control input-sm" id="itemname"
			name="itemname" placeholder="Название">
		</div>
		<div class="form-group col-xs-1">
			<label for="itemname" class="labels">Сорт.</label>
			<input v-model="editItemData.order" 
			type="text" class="form-control input-sm" id="itemorder"
			placeholder="Сорт.">
		</div>
		<div class="form-group col-xs-4">
			<label for="itemname" class="labels">Описание</label>
			<input v-model="editItemData.description" 
			type="text" class="form-control input-sm" id="description"
			placeholder="Описание">
		</div>
		<div class="form-group col-xs-3">
			<label for="itemname" class="labels">Email отв. менеджера</label>
			<input v-model="editItemData.manager_email" 
			type="email" class="form-control input-sm" id="managersemail"
			placeholder="manager@example.com">
		</div>
		<div class="form-group col-xs-2">
			<label for="itemname" class="labels">Part number</label>
			<input v-model="editItemData.partnum" 
			type="text" class="form-control input-sm" id="partnumber"
			placeholder="partnumber">
		</div>
		<div class="form-group col-xs-2">
			<label for="itemname" class="labels">Цена розн.</label>
			<input v-model="editItemData.price" 
			type="text" class="form-control input-sm" id="price"
			placeholder="Цена">
		</div>
		<div class="form-group col-xs-2">
			<label for="itemname" class="labels">Закуп. стоимость</label>
			<input v-model="editItemData.cost" 
			type="text" class="form-control input-sm" id="cost"
			placeholder="Закуп.стоимость">
		</div>
		<div class="form-group col-xs-2">
			<label for="itemname" class="labels">Множитель</label>
			<input v-model="editItemData.factor" 
			type="text" class="form-control input-sm" id="factor"
			placeholder="Множитель">
		</div>
		<div class="form-group col-xs-12">
			<button type="button" class="btn btn-primary btn-xs"
				@click="saveEditedItem">Save</button>
			<button type="button" class="btn btn-default btn-xs"
				@click="closeMe">Cancel</button>
		</div>
	</div>
</template>
<script>
	export default {
		name: 'item-editItemForm',
		props: {
			item: Object,
		},
		data: function () {
			return {
				editItemData: {},
			}
		},
		beforeMount () {
			this.$nextTick(function () {
				this.$set(this, 'editItemData', this.item)
			})
		},
		methods: {
			closeMe: function () {
				this.$emit('close-edit-form')
			},
			saveEditedItem: function () {
				axios.post('/api/updateNewItem', this.editItemData)
				.then(response => {
						this.$emit('update-parent')
						this.closeMe()
					})
				.catch(error => console.log(error))
			},
		},
	}
</script>