<template>
	<ul class="no-bullets items-group">
		<li v-for="item in allDescendants"
			:key="item.id">
			<a href="#" @click.prevent="">{{ item.name }}</a>
			
			<ul class="no-bullets items-group" v-if="item.descendants">
				<li v-for="desc in item.descendants" :key="desc.id">
					<a class="item-name" href="#" @click.prevent="">{{ desc.name }}</a>
					<div class="item-control" v-if="mode == 'checkbox'">
						<input type="checkbox"
						v-model="dataRestrictionsArray"
						@change="$emit('checkbox-restrictions', desc.id)" 
						:id="'chk'+desc.id" :value="desc.id">
					</div>
					<div class="item-control"
						v-if="mode == 'radio' ">
						<input type="radio" 
							name="optradio" 
							v-model="dataLimiterSubj"
							@change="$emit('radio-subj-id', desc.id)"
							:id="'radio'+desc.id" 
							:value="desc.id">
					</div>

				</li>
			</ul>
		</li>
	</ul>
</template>
<script>
	export default {
		name: 'full-tree-by-id',
		props: {
			itemId: Number,
			mode: String,
			restrictionsArray: Array,
			limiterSubj: Number,
		},
		beforeMount () {
			this.$nextTick(function () {
				if(this.itemId) {
				   this.getAllDescendants(this.itemId)
				}
			})
		},
		data: function () {
			return {
				allDescendants: Object,
				dataRestrictionsArray: [],
				dataLimiterSubj: 0,
			}
		},
		watch: {
			limiterSubj: function () {
				if(this.limiterSubj == 0) {
					this.dataLimiterSubj = 0
				}
			},
			restrictionsArray: function () {
				if(this.restrictionsArray.length == 0) {
					this.dataRestrictionsArray = []
				}
			}
		},
		methods: {
			getAllDescendants: function (id) {
				axios.get('/api/getAllDescendants/'+id)
				.then(response => this.$set(this, 'allDescendants', response.data))
				.catch(error => console.log(error))
			},
		},
	}
</script>