<template>
	<table class="table table-striped">
		<thead>
			<tr>
				<th class="col-xs-1">Id</th>
				<th class="col-xs-7">Название</th>
				<th class="col-xs-4 text-right">Стоимость</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="item in invoiceItem" :key="item.id">
				<td class="col-xs-1">{{ item.data.id }}</td>
				<td class="col-xs-7">{{ item.name }}: {{ item.data.name }}</td>
				<td class="col-xs-4 text-right">{{ item.data.price.toLocaleString('ru-RU', { style: 'currency', currency: 'RUB' }) }}</td>
			</tr>
		</tbody>
		<tfoot>
			<tr class="success">
				<td colspan="2" class="col-xs-8">ВЫБРАННАЯ КОНФИГУРАЦИЯ, ИТОГО:</td>
				<td class="col-xs-4 text-right">{{ totalPrice.toLocaleString('ru-RU', { style: 'currency', currency: 'RUB' }) }}</td>
			</tr>
		</tfoot>
	</table>
</template>
<script>
	export default {
		name: 'invoice-table',
		props: {
			invoiceItem: Object,
		},
		methods: {
			formatPrice: function (value) {
				let val = (value/1).toFixed(2)
				return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
			}
		},
		computed: {
			totalPrice: function () {
				var totalPrice = 0
				for (var key in this.invoiceItem) {
					totalPrice += this.invoiceItem[key].data.price
				}
				return totalPrice
			},
		},
	}
</script>