<template>
	<div class="panel panel-default">
		<div class="panel-heading">
			<a href="#" 
				@click.prevent="getDescendants(item.id), toggle = !toggle" 
				:class="{'not-active': isSelected}"
				v-text="item.name"></a>
		</div>
		<transition name="dropdown">
			<div class="panel-body" v-if="toggle">
				<ul class="no-bullets">
					<li v-for="child in item.hasChild" :key="child.id">
						<a :class="{'disabled-by-rule': (disabledByRule.ban && disabledByRule.ban.includes(child.id))}" 
							href="#" class="btn btn-default col-xs-12" role="button"
							@click.prevent="add2Invoice(child.id)" 
							v-text="child.name"></a>
					</li>
				</ul>
			</div>
		</transition>
	</div>
</template>
<script>
	export default {
		name: 'item-sel',
		props: {
			item: Object,
			disabledByRule: Object,
		},
		data: function () {
			return {
				toggle: false,
				isSelected: false,
			}
		},
		methods: {
			getDescendants: function (par) {
				axios.get('/api/getDescendantsTruncated/'+par)
				.then(response => this.$set(this.item, 'hasChild', response.data))
				.catch(error => console.log(error))
			},
			add2Invoice: function (par) {
				this.$emit('add-to-invoice',{
					'name': this.item.name, 
					'data': this.item.hasChild[par]
				})
				this.toggle = false
				this.isSelected = true
			},
		},
	}
</script>