<template>
	<ul v-if="alive" class="no-bullets" :class="{
		'light-border': newItemForm | editItemForm, 
		'edit-form': editItemForm,
		'add-form': newItemForm}">
		<li class="items-group">
			<a href="#" 
				@click.prevent="getDescendants(item.id), 
				opened = !opened, 
				$emit('toggle', {'opened': opened})" 
				v-text="item.name" class="item-name"></a>
			<div class="item-control" v-if="itemControl">
				<a :href="'/config/'+item.id" v-if="!item.item_id" title="Посчитать">
					<i class="fa fa-calculator" aria-hidden="true"></i>
				</a>
				<a :href="'/restrictions/'+item.id" v-if="!item.item_id" title="Ограничения">
					<i class="fa fa-cogs" aria-hidden="true"></i>
				</a>
				<a href="#" @click.prevent="addChildItem(item.id)" v-if="depth > 1" title="Новый элемент">
					<i class="fa fa-file-o" aria-hidden="true"></i>
				</a>
				<a href="#" @click.prevent="editItem(item.id)" title="Редактировать">
					<i class="fa fa-pencil" aria-hidden="true"></i>
				</a>
				<a href="#" @click.prevent="delItem(item.id)" title="Удалить">
					<i class="fa fa-trash-o" aria-hidden="true"></i>
				</a>
			</div>
			<div v-if="editItemForm" class="mode-info">
				<span>Редактирование</span>
			</div>
			<div v-if="newItemForm" class="mode-info">
				<span>Новая запись</span>
			</div>
			<item-edit :item="item"
				v-if="editItemForm"
				v-on:close-edit-form="closeEditForm"
				v-on:update-parent="getDescendants(item.id)"></item-edit>
			<item-add :item="item" 
				:newItemForm="newItemForm" 
				v-on:shut-me-please="closeForm"
				v-on:update-parent="getDescendants(item.id)"></item-add>
			<item v-if="opened" 
				v-for="child in item.hasChild" :key="child.id" 
				:item="child" 
				:depth="depth-1" 
				:item-control="itemControl"></item>
		</li>
	</ul>
</template>
<script>
	export default {
		name: 'item-shmitem',
		props: {
			item: Object,
			depth: Number,
			itemControl: false,
			restrictionsControl: '',
		},
		data: function () {
			return {
				alive: true,
				opened: false,
				newItemForm: false,
				editItemForm: false,
				addChildItemData: {
					name: '',
					order: 0,
					description: '',
					itemId: this.item.id
				},
			}
		},
		methods: {
			closeForm: function () {
				this.newItemForm = !this.newItemForm
			},
			closeEditForm: function () {
				this.editItemForm = false
			},
			getDescendants: function (par) {
				axios.get('/api/getDescendants/'+par)
				.then(response => this.$set(this.item, 'hasChild', response.data))
				.catch(error => console.log(error))
			},
			addChildItem: function (par) {
				// this.$emit('addchilditemevent')
				this.newItemForm = true
				this.editItemForm = false
			},
			editItem: function (par) {
				this.editItemForm = true
				this.newItemForm = false
			},
			delItem: function (par) {
				console.log(`delItem(${par})`)
				axios.delete('/api/deleteItem', {
					params: { id: par }
				})
				.then(response => {
					console.log(response)
					this.alive = false
				})
				.catch(error => console.log(error))
			},
		},
	}
</script>
