<template>
	<table class="table table-striped">
		<tbody>
			<tr v-for="r in allRestrictions" :key="r.id">
				<td class="col-xs-1">{{ r.id }}</td>
				<td class="col-xs-5">
					{{ r.subjParentName }}
					<i class="fa fa-arrow-right" aria-hidden="true"></i>
					{{ r.subjName }}
				</td>
				<td class="col-xs-5">
					{{ r.limitParentName }}
					<i class="fa fa-arrow-right" aria-hidden="true"></i>
					{{ r.limitName }}
				</td>
				<td class="col-xs-1 text-center">
					<a href="#" @click.prevent="onDeleteRestriction(r.id)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
				</td>
			</tr>
		</tbody>
	</table>
</template>
<script>
	export default {
		name: 'restrictions-list',
		props: {
			topId: Number,
			upd: Number,
		},
		beforeMount () {
			this.$nextTick(function () {
				this.getRestrictions()
			})
		},
		data: function () {
			return {
				allRestrictions: {},
			}
		},
		watch: {
			upd: function () {
				this.getRestrictions()
			},
		},
		methods: {
			onDeleteRestriction: function (par) {
				axios.delete('/api/deleteRestriction', {
					params: { id: par }
				})
				.then(response => this.getRestrictions())
				.catch(error => console.log(error))
			},
			getRestrictions: function () {
				if(this.topId > 0) {
					axios.get('/api/getRestrictions/'+this.topId)
					.then(response => this.$set(this, 'allRestrictions', response.data))
					.catch(error => console.log(error))
				}
			}
		},
	}
</script>