// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600")

// Variables
@import "variables"

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap"

ul.no-bullets
	list-style-type: none
.light-border
	border: 1px solid #dfdfdf
	border-radius: 3px
	margin-top: 5px
	margin-bottom: 5px
	padding-top: 5px
	padding-bottom: 5px
.form-group
	margin: 5px
	padding: 5px
.edit-form
	background-color: lighten($brand-success, 50%)
.add-form
	background-color: lighten(#AEA79F, 25%)
.item-name
	display: inline-block
	min-width: 300px
	border-bottom: 1px dotted #3097D1
	outline: none

.item-control
	display: inline-block
	border-bottom: 1px dotted #3097D1
	position: relative
	right: 3px
	outline: none

.not-active
	pointer-events: none
	cursor: default
	color: #ccc !important
.not-active::before
	display: inline-block
	width: 24px
	content: '\f046'
	font-family: FontAwesome
	color: $brand-success

.disabled-by-rule
	pointer-events: none
	cursor: default
	color: #ccc !important
.disabled-by-rule::before
	display: inline-block
	width: 24px
	content: '\f05e'
	font-family: FontAwesome
	color: $brand-danger

.dropdown-enter-active, .dropdown-leave-active
	transition: opacity .3s

.dropdown-enter, .dropdown-leave-to
	opacity: 0

.restriction-boxes
	display: flex
.restriction-box
	border: 1px solid #3097D1
	border-radius: 3px
	margin: 20px 
	height: 250px
	overflow-y: scroll
	overflow-x: auto

.restriction-list
	border: 1px solid #3097D1
	border-radius: 3px
	padding: 20px
	margin: 20px
	height: 250px
	overflow-y: scroll
	overflow-x: auto

.inline-block
	display: inline-block
	height: 35px

.mode-info
	display: inline-block
	padding-left: 30px

.labels
	font-weight: 100
	font-size: 10px
	margin-top: 3px
	margin-bottom: 3px

#config
	margin-top: 50px